<ul class="navbar-nav" style="margin-right: 30px;">
  {% if admin == True %}
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="admin">
        Admin
      </a>
    </li>
  {% endif %}

  {% if admin == True or moderator == True %}
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="moderator">
        Moderator
      </a>
    </li>
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="new-suggestion">
        Submit Suggestion
      </a>
    </li>
  {% endif %}

  {% if admin == True or moderator == True or loggedin == True %}
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="profile">
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="logout">
        Log Out
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="signup">
        Sign Up
      </a>
    </li>
    <li class="nav-item">
      <a aria-current="page" class="nav-link active" href="login">
        Log In
      </a>
    </li>
  {% endif %}
</ul>