<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="https://discord.gg/JxYBp9HTAY">
      Discord
    </a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="https://github.com/PortsMaster">
      GitHub
    </a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="https://portmaster.games/faq.html">
      FAQ
    </a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="https://portmaster.games/games.html">
      Games
    </a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="/">
      Port Suggestions
    </a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="https://opencollective.com/portmaster">
      <i class="bi bi-bag-heart-fill"></i>
      Donate
    </a>
  </li>
</ul>